@model EmployeeLeaverManagement.Models.LeaveType
@using System.Web.Mvc.Ajax;

@{
    ViewBag.Title = "AddType";
}

@using (Ajax.BeginForm(new AjaxOptions { OnComplete = "myfunction();", UpdateTargetId = "load", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-body">
            @Html.HiddenFor(m => m.LeaveTypeID)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveTypeName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.LeaveTypeName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeaveTypeName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="button-next  btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="load">
    @{Html.RenderAction("AddTypeList");}
</div>

@section Scripts{
    <script>
        function myfunction() {
            $('#LeaveTypeName').val("");
            alert('Leave type Saved sucefully.');
        }
    </script>
}
