@model EmployeeLeaverManagement.Models.SubmitLeave
@{
    ViewBag.Title = "Submit_Leave";
}
@{
    var db = new EmployeeLeaverManagement.Models.ApplicationDbContext();
    var Providers = db.LeaveTypes.Select(x => new { x.LeaveTypeID, x.LeaveTypeName }).ToList();
}

@using (Ajax.BeginForm(new AjaxOptions { OnComplete = "myfunction();"}))
{
    @Html.AntiForgeryToken()
    <div class="panel">
        <div class="panel-body">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @*@Html.DropDownList("LeaveTypeList", "Select Leave Type")*@
                        @Html.DropDownList("LeaveTypeID", new SelectList(Providers, "LeaveTypeID", "LeaveTypeName"), "Select Leave Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LeaveTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GetFormDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GetFormDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.GetFormDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GetToDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GetToDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.GetToDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GetApplicationText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-lg-10">
                        @Html.TextAreaFor(model => model.GetApplicationText, new { @class = "form-control", cols = "60", rows = "5" })
                        @Html.ValidationMessageFor(model => model.GetApplicationText, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="button-next  btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts  {
   <script>
       function myfunction() {           
           $('#GetFormDate').val("");
           $('#GetToDate').val("");
           $('#GetApplicationText').val("");
        alert('Leave Submitted successfully.');
    }
</script>

}
